.BookPic {
    width: 400px;
    height: 500px;
    margin-top: 100px;
    margin-left: 150px;
    border: inset;
    border-radius: 5%;
}

.BookDes {
    display: flex;
}

.Des {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.Title {
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
}

.Author {
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.Description {
    font-size: 20px;
    line-height: 30px;
}

.Favorite {
    flex-direction: row;
    display: flex;
    font-size: 16px;
    padding: 10px;
    width: 100px;
    margin-left: 10px;
}